main .blog{
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    row-gap: 35px;
}

main .blog .blog-component{
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    /* height: max-content; */
}

main .blog .blog-component:nth-child(1), main .blog .blog-component:nth-child(4){
    max-width: 732px;
}

main .blog .blog-component:nth-child(2), main .blog .blog-component:nth-child(3){
    flex-direction: column-reverse;
    max-width: 441px;
}

main .blog .blog-component .body-blog{
    display: flex;
    flex-direction: column;
    gap: 15px; /* penting */
    padding: 20px 10px 10px 20px;
    color: white;
    background-color: rgba(21, 21, 21, 0.6);
}

main .blog .blog-component .body-blog p{
    font-size: 12px;
}

main .blog .blog-component .img-blog{
    /* border: 1px solid yellow; */
    height: max-content;
}

.blog-two .body-blog h1, .blog-three .body-blog h1{
    text-align: center;
}
.blog-two .img-blog img, .blog-three .img-blog img{
    width: 100%;
}

main .blog .blog-component .body-blog .blog-paragraf{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 12px;
}

main .blog .blog-component .body-blog button{
    background-color: var(--neon);
    max-width: 110px;
    border-radius: 5.59px;
    padding: 5px;
    font-size: 11.19px;
    font-weight: 600;
    border: 1px solid transparent;
}

main .blog .blog-component .body-blog button:hover{
    border: 1px solid var(--neon);
    background-color: transparent;
    color: var(--neon);
}


/* responsive for mobile */

@media only screen and (max-width: 600px) {
    .blog-component{
        display: flex;
        flex-direction: column-reverse;
    }

    .img-blog img{
        width: 100%;
    }
}